---
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body class="animate-fade-in">
		<Navbar />
		<main class="min-h-screen">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}
	* {
		transition: background 300ms ease;
	}
</style>

<style>
	header {
		z-index: 99999;
	}
</style>