---
const headers = Astro.request.headers;

const rq = await fetch(`${import.meta.env.FRONT_URL}/api/auth/session`, {
  credentials: "include",
  headers,
});

const rs = await rq.json();
---

{ !rq.ok && <p class="text-sm text-red-600">{rq.statusText}</p> }

{
  rs && (rs.user.rol === 1 || rs.user.rol === 2) && (
    <a
      href="/create/blog"
      class="py-2 px-4 rounded-xl bg-green-500 text-white w-fit flex gap-2 hover:bg-green-600"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>
      Crear blog
    </a>
  )
}
