---
import { Image } from "astro:assets";
import NavbarLinks from "./navbar-links.astro";
import ThemeButton from "./ThemeButton.astro";

const pathname = Astro.url.pathname;
---

<nav
  id="desktop-nav"
  class={`fixed top-0 left-0 w-full flex justify-between py-4 px-4 lg:px-8 items-center bg-opacity-90 ${pathname !== "/" && "bgNavbar"}`}
>
  <div class="flex gap-x-5 items-center">
    <div class="avatar">
      <div class="w-9">
        <Image
          src="/logo.jpg"
          alt="Logo"
          width={36}
          height={36}
          loading={"eager"}
        />
      </div>
    </div>
    <NavbarLinks />
  </div>
  <div class="flex items-center gap-4">
    <ThemeButton />
    <a
      href={import.meta.env.CAMPUS_PAGE}
      class="btn btn-primary text-white hidden md:inline-flex">Acceder</a
    >
    <button
      id="btn-nav"
      class="text-white relative flex md:hidden items-center justify-center w-9"
    >
      <span id="open" class="absolute transition-opacity opacity-0 -z-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-8"
        >
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
            clip-rule="evenodd"></path>
        </svg>
      </span>
      <span id="close" class="absolute transition-opacity opacity-0 -z-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-8"
        >
          <path
            fill-rule="evenodd"
            d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd"></path>
        </svg>
      </span>
    </button>
  </div>
</nav>

<div
  class={`flex md:hidden fixed top-0 -left-full bg-gray-900 bg-opacity-80 backdrop-blur-lg w-full h-screen justify-center items-center flex-col max-h-screen overflow-x-hidden overflow-y-auto gap-y-4`}
  id="mobile-nav"
>
  <NavbarLinks mobile />
</div>

<script>
  const pathname = window.location.pathname;

  const open = document.querySelector("#open");
  const close = document.querySelector("#close");

  const mobileNav = document.querySelector("#mobile-nav");

  if (pathname === "/") {
    window.addEventListener("scroll", () => {
      if (window.scrollY > 0) {
        document.querySelector("#desktop-nav")?.classList.add("bgNavbar");
      } else {
        document.querySelector("#desktop-nav")?.classList.remove("bgNavbar");
      }
    });
  }

  const verifyMenu = () => {
    let isOpen = mobileNav?.className.includes("active-menu");

    if (!isOpen) {
      open?.classList.add("active-btn");
      close?.classList.remove("active-btn");
    } else {
      open?.classList.remove("active-btn");
      close?.classList.add("active-btn");
    }
  };

  verifyMenu();

  document.querySelector("#btn-nav")?.addEventListener("click", () => {
    mobileNav?.classList.toggle("active-menu");
    verifyMenu();
  });
</script>

<style>
  .bgNavbar {
    background: rgb(17 24 39 / var(--tw-bg-opacity));
  }
  #desktop-nav {
    z-index: 99999;
  }
  #mobile-nav{
    transition: left 300ms ease;
    z-index: 999;
  }
  .active-btn {
    opacity: 1 !important;
    z-index: inherit;
  }
  .active-menu {
    left: 0;
  }
</style>
