---

interface Props {
  className?: string;
}

const { className } = Astro.props;

---

<section class={`px-4 lg:w-4/5 md:mx-auto pt-28 pb-8 animate-blurred-fade-in ${className && className}`}>
  <slot />
</section>