---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import NotFoundContent from "./content";
---

<Layout
  title="Página no encontrada - Escuela de Educación Técnica Nº 3117 Maestro Daniel Óscar Reyes"
  description="La página que buscas no se encontró - Escuela de Educación Técnica Nº 3117 Maestro Daniel Óscar Reyes"
>
  <Section>
    <NotFoundContent client:load />
  </Section>
</Layout>