.rbc-calendar{
    .rbc-header {
        padding: 10px 4px;
        transition: background 500ms ease;
    }
    .rbc-btn-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .rbc-toolbar {
        padding: 10px 0;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        row-gap: 20px;
        .rbc-toolbar-label {
            font-weight: bold;
            font-size: 1.5em;
        }
    }
    .rbc-day-bg {
        transition: none;
    }
    .rbc-event {
        background: #03f;
        transition: background 150ms ease;
        &:hover {
            background: #09f;
        }
    }
}

html[data-theme="light"] .rbc-calendar {
    .rbc-header {
        background: #f1f1f1;
    }
    .rbc-day-bg:hover {
        background: #eee;
    }
}

html[data-theme="dark"] .rbc-calendar {
    & * {
        border-color: rgb(17 24 39);
    }
    .rbc-today {
        background: #1a103e;
    }
    .rbc-show-more {
        background: transparent;
    }
    .rbc-header {
        background: rgb(17 24 39);
        color: #fff;
    }
    .rbc-toolbar {
        .rbc-toolbar-label {
            color: #fff;
        }
        .rbc-btn-group {
            & button {
                background: #06f;
                color: #fff;
                &:hover {
                    background: #03f;
                }
            }
        }
    }
    .rbc-off-range-bg {
        background: #111;
    }
    .rbc-day-bg:hover {
        background: rgb(17 24 39);
    }
}