
@media (max-width: 768px) {
    #footer aside {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        gap: 20px;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    #footer aside {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #footer {
        grid-template-columns: minmax(0, 1fr);
    }
}