---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import CreateBlog from '@components/blog/create'
import { auth } from "@lib/user";

const headers = Astro.request.headers;

const session = await auth(headers);

if (!(session && (session.user.rol === 1 || session.user.rol === 2))) {
  Astro.response.status = 404;
}

---

<Layout
  title="Crear un blog"
  description="Crea tu blog para informar a las demas personas!"
>
  <Section>
     <CreateBlog client:load />
  </Section>
</Layout>