---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import CreateBlog from '@components/blog/create'

const headers = Astro.request.headers;

const rq = await fetch(`${import.meta.env.FRONT_URL}/api/auth/session`, {
  credentials: "include",
  headers,
});

const rs = await rq.json();

if (!(rs && (rs.user.rol === 1 || rs.user.rol === 2))) {
  Astro.response.status = 404;
}

---

<Layout
  title="Crear un blog"
  description="Crea tu blog para informar a las demas personas!"
>
  <Section>
     <CreateBlog client:load />
  </Section>
</Layout>