---
import Wallpaper from '@components/ui/Wallpaper.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
	title='Escuela de Educación Técnica Nº 3117 Maestro Daniel Óscar Reyes'
>
	<Wallpaper />
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe, deserunt minus dignissimos eum recusandae nisi beatae! Architecto expedita excepturi tempore optio ipsa incidunt inventore maxime? Autem sunt expedita adipisci repellat.</p>
</Layout>
