---
import Section from "@components/ui/Section.astro";
import Layout from "@layouts/Layout.astro";
import { Content } from '@markdown/termsOfUse.md';

---

<Layout
  title="Términos de Uso - Escuela de Educación Técnica Nº 3117 - Mto Daniel O. Reyes"
>
  <Section className="prose max-w-none">
    <Content />
  </Section>
</Layout>