---
import Image from "astro/components/Image.astro"
---

<header id="bg-gradient" class="min-h-screen relative flex flex-col px-2">
  <div
    class="absolute z-10 top-0 left-0 w-full h-full bg-black bg-opacity-65 backdrop-blur-md"
  >
  </div>
  <div class="relative z-20 grow flex flex-col justify-center items-center">
    <Image
      src={"/logo.png"}
      alt="Logo"
      width={150}
      height={150}
      id="logo-image"
      loading={"eager"}
    />
    <h1 class="text-white font-bold text-3xl xl:text-4xl 2xl:text-5xl py-5">
      Daniel Óscar Reyes
    </h1>
    <div class="flex flex-wrap justify-center gap-4">
      <a
        href="/register"
        class="register-button bg-blue-500 md:bg-transparent border border-blue-500 p-3 rounded-xl text-white"
        >Inscribirse</a
      >
      
      <!-- <SigninButton onlyMobile /> -->
    </div>
  </div>
</header>

<style>
  #bg-gradient {
    /* background: rgb(255, 224, 224);
    background: radial-gradient(
      at top right,
      rgba(219, 224, 255, 1) 0%,
      rgba(176, 176, 255, 1) 35%,
      rgba(255, 201, 201, 1) 67%,
      rgba(255, 162, 162, 1) 100%
    ); */
    background-image: url("/wallpaper.webp");
    background-attachment: fixed;
    background-size: cover;
  }
  .register-button:hover {
    background: #3b82f6;
  }

  @media (width >= 1280px) and (height >= 700px) {
    #logo-image {
      width: 180px;
      height: auto;
    }
  }

  @media(width >= 1600px) and (height >= 900px) {
    #logo-image {
      width: 225px;
      height: auto;
    }
  }
</style>