.bg-gradient {
  /* background: rgb(255, 224, 224);
  background: radial-gradient(
    at top right,
    rgba(219, 224, 255, 1) 0%,
    rgba(176, 176, 255, 1) 35%,
    rgba(255, 201, 201, 1) 67%,
    rgba(255, 162, 162, 1) 100%
  ); */
  background-image: url("/wallpaper.webp");
  background-attachment: fixed;
  background-size: cover;
}

@media (width >= 1280px) and (height >= 700px) {
  .logo {
    width: 180px;
    height: auto;
  }
}

@media(width >= 1600px) and (height >= 900px) {
  .logo {
    width: 225px;
    height: auto;
  }
}