---
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";

const { id } = Astro.params;

const blogs = await Astro.glob("../../blogs/*.md");
const blog = blogs.find(({frontmatter: { id: blogId }}) => blogId === id);

if (!blog) {
  Astro.response.status = 404;
}

---

{blog && (
  <Layout
    title={blog.frontmatter.title}
    description={blog.frontmatter.description}
  >
    <Section className="prose max-w-none">
      <blog.Content />
    </Section>
  </Layout>
)}