---
import Blog from '@components/blog/Blog'
import Layout from '@layouts/Layout.astro'
import Section from '@components/Section.astro'

const { id } = Astro.params

---

<Layout title='Nuestros Blogs' description='asd'>
  <Section className='prose max-w-none'>
    <Blog id={id} client:load />
  </Section>
</Layout>