---
import Blog from '@components/blog/Blog'
import Layout from '@layouts/Layout.astro'
import Section from '@components/Section.astro'

const { id } = Astro.params

---

<Layout title='Nuestros Blogs - Escuela de Educación Técnica Nº 3117 Maestro Daniel Óscar Reyes' description='Bienvenido a nuestro blog! Aqui encontraras todo lo relacionado con noticias sobre el colegio...'>
  <Section>
    <Blog id={id} server:defer />
  </Section>
</Layout>