---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import CreateBlog from '@components/blog/create-blog'
import Blogs from "@components/blog/blogs.astro";
---

<Layout
  title="Nuestro Blog"
  description="Bienvenido a nuestro blog! Aqui encontraras todo lo relacionado con noticias sobre el colegio..."
>
  <Section className="flex flex-col gap-4">

    <h1 class="pb-4 text-3xl font-bold border-b border-base-300 mb-4">Nuestras últimas noticias</h1>
    
    <CreateBlog headers={Astro.request.headers} server:defer />

    <Blogs />
  </Section>
</Layout>