---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Introduction from "@components/blog/Introduction.astro";
import Equipment from "@components/blog/Equipment.astro";
---

<Layout
  title="Escuela de Educación Técnica Nº 3117 Maestro Daniel Óscar Reyes"
  description="En un mundo cada vez más interconectado y dependiente de la tecnología, la educación no puede quedarse atrás. Por ello, presentamos con orgullo nuestro proyecto de Campus Virtual, una plataforma innovadora diseñada para transformar la experiencia educativa en nuestro colegio. Este proyecto, desarrollado por un equipo dedicado de seis estudiantes apasionados por la tecnología y la educación, tiene como objetivo principal brindar una solución integral para el aprendizaje y la interacción escolar en un entorno digital."
>
  <Header />

  <section class="flex flex-col gap-6 pb-4">
    <Introduction />
    <Equipment />
  </section>
</Layout>
